# build files
build/*
cmake-build-*
compile_commands.json
install/*

# hidden files
*.swp
.idea/*
.lvimrc
.vscode
.conan_test_package/build

# python files
*__pycache__*

# generated documentation
resource/Documentation/*

# generated source files
externalQC_output_location.h
orca_output_location.h

# conan ci files
conan/*
